@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lexend+Tera&family=Metal+Mania&family=Oswald:wght@200&family=Staatliches&display=swap');
.a {
font-family: 'Anton', sans-serif;
}
.lt {
font-family: 'Lexend Tera', sans-serif;
}
.s {
font-family: 'Staatliches', sans-serif;
}
header , footer{
  background-color: #8B0000;
}
.bg{
  background-color: #8B0000
}
body {
  background-image: url('../img/bg.png');
  background-size: cover;
  background-attachment: fixed;
  background-position: 200px 50px;
}
.p{
  padding: 0 10px
}
.navbar-brand {
 font-size: 18px;
 font-weight: 600;
}
.nav-link, .dropdown-item {
 font-size: 15px;
 font-weight: 600;
 text-transform: uppercase;
}
nav li {
 padding: 0 18px;
}
nav li.active, nav li.active:before {
 background-color: rgba(0, 0, 0, 0.1);
 border-radius: 5px;
}
.carousel a:hover {
 background: rgba(255, 255, 255, 0.2);
}
.kl{
  position: relative;
}
.navbar-collapse{
  width: 800px;
  display: flex;
  justify-content: flex-end;
}
/* .nav-link{
  width: auto;
} */
.nav-link{
  width: 120px;
  display: flex;
  justify-content: space-between;
}
.v{
  width: 148px;
}
.q{
  display: flex;
  justify-content: flex-end;
}
.r{
  background-color: #FF4654;
}
